@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 216 33.3% 97.1%;
    --foreground: 0 0% 14.9%;
    --card: 216 33.3% 97.1%;
    --card-foreground: 0 0% 14.9%;
    --popover: 216 33.3% 97.1%;
    --popover-foreground: 0 0% 14.9%;
    --primary: 205.6 96.7% 35.7%;
    --primary-foreground: 0 0% 100%;
    --secondary: 213.8 53.3% 94.1%;
    --secondary-foreground: 0 0% 14.9%;
    --muted: 213.8 53.3% 94.1%;
    --muted-foreground: 0 0% 30.2%;
    --accent: 211.1 64.6% 50.2%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 212.5 51.3% 76.7%;
    --input: 212.5 51.3% 76.7%;
    --ring: 211.1 64.6% 50.2%;
    --chart-1: 205.6 96.7% 35.7%;
    --chart-2: 211.1 64.6% 50.2%;
    --chart-3: 212.2 51.5% 53.1%;
    --chart-4: 212.3 52.0% 64.9%;
    --chart-5: 211.9 67.7% 31.6%;
    --radius: 0.75rem;
  }

  .dark {
    --background: 240, 6%, 10%;
    --foreground: 0 0% 98%;
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 240, 5%, 13%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 270, 2%, 19%;
    --input: 240 3.7% 15.9%;
    --ring: 0, 0%, 100%, 0.1;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
